---
import PageHeading from "../components/page-heading.astro";
import Project from "../components/project.astro";
import Layout from "../layouts/main.astro";
import { getCollection } from "astro:content";

const { count } = Astro.props;
const allProjects = await getCollection("project");

function parseDate(dateStr) {
  const [month, day, year] = dateStr.split(" ");
  return new Date(`${month} ${parseInt(day)}, ${year}`);
}

const sortedProjects = allProjects
  .map((project) => ({
    ...project,
    date: parseDate(project.data.dateFormatted),
  }))
  .sort((a, b) => a.date.getTime() - b.date.getTime());

const projects = sortedProjects.slice(0, count).map((project) => {
  return {
    ...(project.data || {}),
    url: `/project/${project.slug}`,
  };
});
---

<Layout title="Case Studies">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Case Studies"
      description="Here’s a closer look at the real-world projects where I’ve helped teams modernize their backend systems and elevate their DevOps pipelines. From reducing cloud spend to unlocking deployment velocity, these are stories of transformation."
    />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        projects.map((project) => {
          return (
            <Project
              name={project.title}
              description={project.description}
              image={project.image}
              url={project.url}
            />
          )
        })
      }
    </div>
  </section>
</Layout>
